# Hactiv8 Phase 0: Live Code 1

By Rifky Aliffa Batch 008

## Objectives

1. Buatlah dua fungsi eksplisit masing-masing memuat perhitungan hambatan (R) dan daya (P) yang nantinya akan digunakan untuk perhitungan.
2. Buat kolom baru dengan nama kolom R/P berisikan hasil perhitungan daya/hambatan dengan kriteria untuk Kapasitas >=2.5 hitung daya, Kapasitas <2.5 hitung nilai hambatan. (Hint: Gunakan for loop dan if statement untuk mengerjakan perintah nomor b, kamu bisa menggunakan list untuk menyimpan perhitungan sementara, setelahnya dapat dimasukkan ke kolom R/P).
3. Hitunglah rata-rata nilai kapasitas untuk arus = 1 Ampere dan cycle ganjil.

## Problems

Kamu adalah seorang data scientist yang bekerja di salah satu perusahaan manufaktur baterai Lithium ion. Tim produksi meminta kamu untuk mengecek apakah baterai yang mereka buat dalam kondisi bagus atau tidak. Sebelum melakukan pengecekan lebih lanjut, kamu diminta untuk menghitung hambatan/resistansi dan Daya setiap detik:

![rumus](https://camo.githubusercontent.com/65a4ab2624465aef953d58449a551d54a0322baba1fc3aeafebc0506e937e170/68747470733a2f2f6c617465782e636f6465636f67732e636f6d2f706e672e6c617465783f523d5c667261637b567d7b497d)

![rumus](https://camo.githubusercontent.com/d6bc770edcd27e99961cb0ca5e61c0d8e130d915270441e584213eed3018f549/68747470733a2f2f6c617465782e636f6465636f67732e636f6d2f706e672e6c617465783f503d5649)

- R adalah Kapasitas dalam satuan Ohm
- P adalah Daya dalam Watt
- I adalah kuat arus dalam satuan Ampere
- V adalah tegangan dalam satuan Volt

Keterangan kolom:
- time(s): Detik ke- pengukuran
- V_m: Voltage/tegangan yang terukur tiap waktu
- Current (A): Kuat arus terukur tiap waktu
- Cycle: Nomor siklus charge-discharge baterai
- Cap: Kapasitas baterai tiap waktu

## Import Library

In [1]:
import pandas as pd
import numpy as np

## Load Data

In [2]:
df = pd.read_excel('NMC1-9.xlsx', engine='openpyxl')

In [3]:
df.head()

   time(s)    V_m  Current (A)  Cycle       Cap
0        0  4.098        0.997      1  2.840817
1        1  4.096        0.998      1  2.840817
2        2  4.094        0.999      1  2.840817
3        3  4.093        0.998      1  2.840817
4        4  4.092        0.999      1  2.840817

In [4]:
df.columns

Index(['time(s)', 'V_m', 'Current (A)', 'Cycle', 'Cap'], dtype='object')

### Data Characteristics

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90982 entries, 0 to 90981
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   time(s)      90982 non-null  int64
 1   V_m          90982 non-null  float64
 2   Current (A)  90982 non-null  float64
 3   Cycle        90982 non-null  int64
 4   Cap          90982 non-null  float64
dtypes: float64(3), int64(2)
memory usage: 3.5 MB

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
time(s),90982.0,45490.500000,26264.385433,0.00000,22745.25000,45490.500000,68235.75000,90981.000000
V_m,90982.0,3.607666,0.322777,2.49700,3.42200,3.636000,3.86800,4.114000
Current (A),90982.0,0.999264,0.001997,0.99300,0.99700,0.999000,1.00100,1.003000
Cycle,90982.0,4.978699,2.582135,1.00000,3.00000,5.000000,7.00000,9.000000
Cap,90982.0,2.806214,0.023283,2.77018,2.78686,2.804878,2.82352,2.840817

## Answer

#### 1. Buatlah dua fungsi eksplisit masing-masing memuat perhitungan hambatan (R) dan daya (P) yang nantinya akan digunakan untuk perhitungan.

#### Fungsi Hambatan

In [7]:
def resistance(v, i):
    return v / i

#### Fungsi Data

In [8]:
def power(v, i):
    return v * i

#### 2. Buat kolom baru dengan nama kolom R/P berisikan hasil perhitungan daya/hambatan dengan kriteria untuk Kapasitas >=2.5 hitung daya, Kapasitas <2.5 hitung nilai hambatan. (Hint: Gunakan for loop dan if statement untuk mengerjakan perintah nomor b, kamu bisa menggunakan list untuk menyimpan perhitungan sementara, setelahnya dapat dimasukkan ke kolom R/P).

Membuat kolom baru dengan nama ***R/P***

In [15]:
df['R/P'] = ''

In [16]:
df.head()

   time(s)    V_m  Current (A)  Cycle       Cap R/P
0        0  4.098        0.997      1  2.840817
1        1  4.096        0.998      1  2.840817
2        2  4.094        0.999      1  2.840817
3        3  4.093        0.998      1  2.840817
4        4  4.092        0.999      1  2.840817

Kolom baru bernama ***R/P*** berhasil masuk menjadi kolom baru di dataframe.

In [21]:
counter = 0 # Menginisiasi variable counter untuk menjadi penunjuk index dataframe
for i in df['Cap']: # Melakukan looping pada setiap value dari kolom 'Cap'
    if i >= 2.5: # Kondisi jika value 'Cap' lebih dari atau sama dengan 2.5
        df['R/P'][counter] = power(df['V_m'][counter], df['Current (A)'][counter]) # Memasukan nilai dari hasil hitung fungsi power kedalam kolom 'R/P'
    else: # Kondisi jika value 'Cap' tidak lebih dari atau sama dengan 2.5
        df['R/P'][counter] = resistance(df['V_m'][counter], df['Current (A)'][counter]) # Memasukan nilai dari hasil hitung fungsi resistance kedalam kolom 'R/P'
    counter += 1 # Menambahkan variable counter dengan 1 untuk menunjuk ke index dataframe selanjutnya

<ipython-input-21-273911803092>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['R/P'][counter] = power(df['V_m'][counter], df['Current (A)'][counter]) # Memasukan nilai dari hasil hitung fungsi power kedalam kolom 'R/P'

In [22]:
df.head()

   time(s)    V_m  Current (A)  Cycle       Cap       R/P
0        0  4.098        0.997      1  2.840817  4.085706
1        1  4.096        0.998      1  2.840817  4.087808
2        2  4.094        0.999      1  2.840817  4.089906
3        3  4.093        0.998      1  2.840817  4.084814
4        4  4.092        0.999      1  2.840817  4.087908

In [23]:
df[df['Cap'] >= 2.5]

       time(s)    V_m  Current (A)  Cycle       Cap       R/P
0            0  4.098        0.997      1  2.840817  4.085706
1            1  4.096        0.998      1  2.840817  4.087808
2            2  4.094        0.999      1  2.840817  4.089906
3            3  4.093        0.998      1  2.840817  4.084814
4            4  4.092        0.999      1  2.840817  4.087908
...        ...    ...          ...    ...       ...       ...
90977    90977  2.506        1.002      9  2.770180  2.511012
90978    90978  2.504        1.002      9  2.770180  2.509008
90979    90979  2.502        1.002      9  2.770180  2.507004
90980    90980  2.500        1.002      9  2.770180  2.505000
90981    90981  2.497        1.002      9  2.770180  2.501994

[90982 rows x 6 columns]

Karena pada info nilai paling rendah dari kolom 'Cap' adalah ***2.77018***, maka pada kolom 'R/P' pada dataframe akan terisi dengan hasil penghitungan dari daya.

#### 3. Hitunglah rata-rata nilai kapasitas untuk arus = 1 Ampere dan cycle ganjil.

In [27]:
df[(df['Current (A)'] == 1) & (df['Cycle'] % 2 == 1)]

       time(s)    V_m  Current (A)  Cycle       Cap    R/P
15          15  4.085          1.0      1  2.840817  4.085
19          19  4.083          1.0      1  2.840817  4.083
20          20  4.083          1.0      1  2.840817  4.083
21          21  4.082          1.0      1  2.840817  4.082
31          31  4.079          1.0      1  2.840817  4.079
...        ...    ...          ...    ...       ...    ...
90909    90909  2.640          1.0      9  2.770180  2.640
90923    90923  2.615          1.0      9  2.770180  2.615
90937    90937  2.589          1.0      9  2.770180  2.589
90949    90949  2.565          1.0      9  2.770180  2.565
90967    90967  2.528          1.0      9  2.770180  2.528

[6830 rows x 6 columns]

In [28]:
cap_mean = df[(df['Current (A)'] == 1) & (df['Cycle'] % 2 == 1)]['Cap'].mean()
print(f'Cap Mean: {cap_mean:.2f}')

Cap Mean: 2.81

Nilai rata-rata dari kapasitas untuk arus 1 Ampere dan cycle ganjil adalah ***2.81***.